@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#050c1a] text-white;
}

.btn-neo {
  @apply bg-black/60 border border-cyan-400/40 rounded-lg p-4 hover:bg-cyan-500/20 hover:shadow-[0_0_15px_rgba(0,255,255,0.6)] transition-all;
}
